<br>
<br>
<br>
<body class="hm-gradient">
    
    <main>
        
        <!--MDB Hover Effects-->
        <div class="container mt-4">

            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Tipos de eventos</h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Celebra tus Momentos Especiales
                    Desde elegantes salones de banquetes hasta espacios íntimos para reuniones, el Hotel Real te ofrece el escenario perfecto para cada evento. Cada espacio está diseñado para brindarte el máximo confort y estilo, asegurando que tu ocasión sea inolvidable.
    
    
                    </p>
            </div>

            <img src="caracteristicas.JPG" alt="">
            
            <section class="bg-white">
                <div class="container px-4 py-8 mx-auto row">
                  <div class="col-lg-7 d-flex flex-column justify-content-center">
                    <h1 class="mb-4 text-2xl font-semibold">
                        Centro de Convenciones
                    </h1>
                    <p class="lead text-muted mb-6">
                        Organiza un evento espectacular en el Centro de Convenciones del Hotel Real, donde te ofrecemos 5,574 m²
                         de espacio adaptable y capacidad para más de 3,600 personas. Disfruta de una vibrante atmósfera con
                          instalaciones modernas, salones elegantes y tecnología de punta para asegurar que cada detalle de tu 
                          evento sea perfecto. Nuestro equipo de expertos está listo para ayudarte a crear una experiencia única, 
                          ya sea un congreso, una gala o una feria comercial.
                    </p>
                    <div class="d-flex">
                      <a href="/productos" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        RESERVA AHORA
                        <svg
                          class="bi bi-arrow-right ml-2"
                          width="1em"
                          height="1em"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-5 d-none d-lg-flex">
                    <img
                      src="CentrodeConvenciones.jpg"
                      alt="mockup"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </section>
        
        
        
              <section class="bg-white dark:bg-gray-900">
                <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                    <img class="w-full dark:hidden" src="congreso.jpg" alt="dashboard image">
                    <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="dashboard image">
                    <div class="mt-4 md:mt-0">
                        <h2 class="mb-4 text-2xl font-semibold">Servicios audiovisuales</h2>
                        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Hacemos que tus Eventos Sean Inolvidables
                            En el Hotel Real, ofrecemos una amplia gama de servicios audiovisuales de última generación para que puedas organizar 
                            reuniones, congresos o conferencias memorables. Contamos con tecnología avanzada, personal técnico especializado 
                            y opciones personalizables para adaptarnos a las necesidades específicas de tu evento. Además, nuestros elegantes 
                            salones y espacios versátiles proporcionan el entorno perfecto para garantizar una experiencia excepcional y exitosa..</p>
                        <div class="d-flex">
                            <a href="/productos" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                              RESERVA AHORA
                              <svg
                                class="bi bi-arrow-right ml-2"
                                width="1em"
                                height="1em"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                ></path>
                              </svg>
                            </a>
                          </div>
                    </div>
                </div>
            </section>

            <section class="bg-white">
                <div class="container px-4 py-8 mx-auto row">
                  <div class="col-lg-7 d-flex flex-column justify-content-center">
                    <h1 class="mb-4 text-2xl font-semibold">
                        Salas de reuniones
                    </h1>
                    <p class="lead text-muted mb-6">
                        Con 642 metros cuadrados de espacio para eventos distribuidos en 11 salas, nuestro 
                        hotel tiene capacidad para hasta 450 invitados para una gala, reunión de clientes o 
                        recepción. Utiliza el centro de negocios para dar los toques finales a tu presentación 
                        y aprovecha el equipo audiovisual para que los asistentes participen más. Nuestro equipo 
                        puede ayudar con el servicio de catering y la planificación para garantizar el éxito de tu evento. 
                    </p>
                    <div class="d-flex">
                      <a href="/productos" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        RESERVA AHORA
                        <svg
                          class="bi bi-arrow-right ml-2"
                          width="1em"
                          height="1em"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-5 d-none d-lg-flex">
                    <img
                      src="salareuniones.jpeg"
                      alt="mockup"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </section>
        
        
        
              <section class="bg-white dark:bg-gray-900">
                <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                    <img class="w-full dark:hidden" src="bodas.jpg" alt="dashboard image">
                    <div class="mt-4 md:mt-0">
                        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Bodas en el Hotel Real </h2>
                        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Da el “SÍ” en una Boda de Ensueño
                          El Hotel Real te ofrece hasta 25 lugares distintos para hacer realidad todos tus sueños, con opciones en espacios 
                          abiertos o cerrados, adaptados a tus necesidades y presupuesto. Celebra tu gran día en un entorno mágico, 
                          con escenarios que van desde jardines encantadores hasta elegantes salones de banquetes, todos diseñados 
                          para crear una experiencia inolvidable. Nuestro equipo especializado se encargará de cada detalle para 
                          que tu boda sea tan perfecta como siempre la imaginaste.</p>
                        <div class="d-flex">
                            <a href="/productos" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                              RESERVA AHORA
                              <svg
                                class="bi bi-arrow-right ml-2"
                                width="1em"
                                height="1em"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                ></path>
                              </svg>
                            </a>
                          </div>
                    </div>
                </div>
            </section>
            
            
          
            <hr class="my-4">
          
            <div class="text-center darken-grey-text mb-4">
                <h3 class="font-bold mb-3">Bienvenido al Hotel Real</h3>
                <a class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" href="#" target="_blank">RESERVAR AHORA</a>
            </div>

            

        </div>
        <!--MDB Hover Effects-->
      
    </main>


   
  
</body>







