<footer class="container-fluid bg-grey py-5">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <div class="row">
              <div class="col-md-6 ">
                 <div class="logo-part">
                    <img src="logo2.JPG" class="w-50 logo-footer" >
                    <p>Javier Ortuño Ramirez</p>
                    <p>4to Anillo Entre Radial 17/2 y Calle Las Ramblas s/n,
                     Santa Cruz de la Sierra, Bolivia
                    </p>
                    <p> Telf: +591 78183032</p>
                 </div>
              </div>
              <div class="col-md-6 px-4">
                 <h6> Acerca de la empresa</h6>
                 <p>But horizontal lines can only be a full pixel high.</p>
                 <a href="#" class="btn-footer"> Mas informacion</a><br>
                 <a href="#" class="btn-footer"> Contactanos</a>
              </div>
           </div>
        </div>
        <div class="col-md-6">
           <div class="row">
              <div class="col-md-6 px-4">
                 <h6> Help us</h6>
                 <div class="row ">
                    <div class="col-md-6">
                       <ul>
                          <li> <a href="/incio"> INICIO</a> </li>
                          <li> <a href="/habitaciones"> HABITACIONES</a> </li>
                          <li> <a href="/serviciosadicionales"> EVENTOS</a> </li>
                          <li> <a href="/fotografias"> FOTOGRAFÍAS</a> </li>
                          <li> <a href="/reserva"> RESERVAS</a> </li>
                          <li> <a href="#"> CONTACTO</a> </li>
                       </ul>
                    </div>
                    <div class="col-md-6 px-4">
                       <ul>
                          <li> <a href="#"> Cab Faciliy</a> </li>
                          <li> <a href="#"> Fax</a> </li>
                          <li> <a href="#"> Terms</a> </li>
                          <li> <a href="#"> Policy</a> </li>
                          <li> <a href="#"> Refunds</a> </li>
                          <li> <a href="#"> Paypal</a> </li>
                       </ul>
                    </div>
                 </div>
              </div>
              
           </div>
        </div>
     </div>
  </div>