<nav class="bg-white shadow dark:bg-gray-800">
    <div class="container flex items-center justify-between p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        
        <!-- Imagen alineada a la izquierda -->
        <div class="flex items-center">
            <img src="/logo2.JPG" alt="" class="mr-4"> <!-- Puedes ajustar el margen derecho (mr-4) para separar la imagen de los enlaces -->
        </div>
        
        <!-- Enlaces en el centro -->
        <div class="flex space-x-6">
            <a href="/inicio" class="text-gray-800 dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Inicio</a>
            <a href="/habitaciones" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Habitaciones</a>
            <a href="/serviciosadicionales" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Eventos</a>
            <a href="/fotografias" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Galería</a>
            <a href="/reserva" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Reserva</a>
        </div>

    </div>
</nav>






