<br>
<br>
<br>
<body class="hm-gradient">
    
    <main>
        
        <!--MDB Hover Effects-->
        <div class="container mt-4">

            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Fotografías Memorables del Hotel Real</h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Captura cada momento especial en los espacios
                     únicos del Hotel Real. Desde elegantes jardines hasta sofisticados salones, cada rincón del hotel ofrece un 
                     escenario perfecto para inmortalizar tus recuerdos. Nuestros versátiles ambientes están diseñados para brindarte
                      el máximo confort y estilo, asegurando que cada fotografía refleje la magia y la esencia de tu evento.
                    </p>
            </div> 
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto1.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto8.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto3.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto5.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto6.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto7.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto9.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto10.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto11.jpg" alt="">
                  </div>

            </div>
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Habitaciones</h2>
                
            </div> 
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto12.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto13.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto14.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto15.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto16.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto17.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto18.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto19.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto20.jpg" alt="">
                  </div>

            </div>
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Piscina y Spa</h2>
                
            </div> 
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto21.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto22.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto23.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto24.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto25.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto26.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto27.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto28.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto29.jpg" alt="">
                  </div>

            </div>
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Los Cebiles Restaurant
                </h2>
                
            </div> 
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto30.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto31.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto32.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto33.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto34.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto35.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto36.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto37.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="foto38.jpg" alt="">
                  </div>

            </div>
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Salones de eventos
                </h2>
                
            </div> 
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto40.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto41.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="foto42.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="43.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="44.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="45.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="46.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="47.jpg" alt="">
                  </div>
                  <div>
                    <img class="h-auto max-w-full rounded-lg mx-auto" src="48.jpg" alt="">
                  </div>

            </div>

            

            


            
            <hr class="my-4">
            <div class="text-center darken-grey-text mb-4">
                <h3 class="font-bold mb-3">Bienvenido al Hotel Real</h3>
                <a class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" href="/reserva" target="_blank">RESERVAR AHORA</a>
            </div>

            

        </div>
        <!--MDB Hover Effects-->
      
    </main>


   
  
</body>
